<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do  |error| %> 
      <%= js add_gritter(error, title: "Taras Buhryn Portfolio", time: 4000) %>
    <% end %>
  <% end %>

  <div class="form_group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control', rows: 15 %>
  </div>

  <div class="form_group">
    <%= form.submit "Submit", class: 'btn btn-primary' %>
  </div>
<% end %>
